Django==2.2.10
djangorestframework==3.10.0
django-rest-auth==0.9.5
django-allauth==0.40.0
django-registration==3.0.1

django-crispy-forms==1.8.1
django-webpack-loader==0.6.0

flake8==3.7.0
Pillow==6.2.1
requests==2.22.0
